:root {
    --primary-color: hsl(14, 45%, 36%);
    --secondary-color: hsl(332, 51%, 32%);
    --grey-border: hsl(30, 18%, 87%);
    --fw-600: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
 }

 .wrapper {
    width: 700px;
    min-height: 37.5em;
    background-color: white;
    padding: 1.5em;
    border-radius: 1em;
    margin-top: 5em;
 }

 .wrapper img {
    max-width: 100%;
    display: block;
    border-radius: 1em;
 }

 .header h1 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: .5em;
 }

 h2 {
    color: var(--primary-color);
    font-family: 'Young Serif', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
 }

 span {
    font-weight: var(--fw-600);
 }

 .preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: .5em 1em;
    border-radius: 1em;
 }

 .preparation-time p {
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: var(--fw-600);
 }

 .preparation-time span {
    margin-left: 1em;
 }

 .ingredients {
    border-bottom: 1px solid var(--grey-border);
 }

 .ingredients ul li {
    padding: .5em;
 }

 .instructions {
   border-bottom: 1px solid var(--grey-border);
 }

 .instructions li {
   margin-bottom: 1em;
   padding-left: 1em;
 }

 ol li::marker {
   color: var(--primary-color);
   font-weight: 700;
 }
